body {
  /* padding-top: 3rem; */
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: #f8f9fa;
}

main[role="main"] {
	height: calc(100vh);
	width: calc(100%);
}
.container {
    margin-top: 50px;
}



/** 
    ------- LEDS ------- 
**/
.led-gray,
.led-gray-blink,
.led-red,
.led-red-blink,
.led-orange,
.led-orange-blink,
.led-green,
.led-green-blink,
.led-yellow,
.led-yellow-blink,
.led-blue,
.led-blue-blink {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.led-gray,
.led-gray-blink {
  background-color: #aab2bd;
  box-shadow: #aab2bd 0 -1px 6px 1px, inset #656d78 0 -1px 8px, #656d78 0 1px 6px;
}

.led-red,
.led-red-blink {
  background-color: #F00;
  box-shadow: #7D7B80 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}

.led-orange,
.led-orange-blink {
  background-color: #FF7000;
  box-shadow: #7D7B80 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-green,
.led-green-blink {
  background-color: #80FF00;
  box-shadow: #7D7B80 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.led-yellow,
.led-yellow-blink {
  background-color: #FF0;
  box-shadow: #7D7B80 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-blue,
.led-blue-blink {
  background-color: #06F;
  box-shadow: #7D7B80 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}

@-moz-keyframes blinkGray {
  0% {
    background-color: #aab2bd;
  }
  50% {
    background-color: #CBD5E2;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #aab2bd 0 1px 0;
  }
  100% {
    background-color: #aab2bd;
  }
}
@-webkit-keyframes blinkGray {
  0% {
    background-color: #aab2bd;
  }
  50% {
    background-color: #CBD5E2;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #aab2bd 0 1px 0;
  }
  100% {
    background-color: #aab2bd;
  }
}
@keyframes blinkGray {
  0% {
    background-color: #aab2bd;
  }
  50% {
    background-color: #CBD5E2;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #aab2bd 0 1px 0;
  }
  100% {
    background-color: #aab2bd;
  }
}
@-moz-keyframes blinkRed {
  0% {
    background-color: #db212b;
  }
  50% {
    background-color: #db212b;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #db212b 0 1px 0;
  }
  100% {
    background-color: #db212b;
  }
}
@-webkit-keyframes blinkRed {
  0% {
    background-color: #db212b;
  }
  50% {
    background-color: #db212b;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #db212b 0 1px 0;
  }
  100% {
    background-color: #db212b;
  }
}
@keyframes blinkRed {
  0% {
    background-color: #db212b;
  }
  50% {
    background-color: #db212b;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #db212b 0 1px 0;
  }
  100% {
    background-color: #db212b;
  }
}
@-moz-keyframes blinkYellow {
  0% {
    background-color: #FF0;
  }
  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #FF0 0 1px 0;
  }
  100% {
    background-color: #FF0;
  }
}
@-webkit-keyframes blinkYellow {
  0% {
    background-color: #FF0;
  }
  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #FF0 0 1px 0;
  }
  100% {
    background-color: #FF0;
  }
}
@keyframes blinkYellow {
  0% {
    background-color: #FF0;
  }
  50% {
    background-color: #AA0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #FF0 0 1px 0;
  }
  100% {
    background-color: #FF0;
  }
}
@-moz-keyframes blinkOrange {
  0% {
    background-color: #FF7000;
  }
  50% {
    background-color: #FFB061;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #FF7000 0 1px 0;
  }
  100% {
    background-color: #FF7000;
  }
}
@-webkit-keyframes blinkOrange {
  0% {
    background-color: #FF7000;
  }
  50% {
    background-color: #FFB061;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #FF7000 0 1px 0;
  }
  100% {
    background-color: #FF7000;
  }
}
@keyframes blinkOrange {
  0% {
    background-color: #FF7000;
  }
  50% {
    background-color: #FFB061;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #FF7000 0 1px 0;
  }
  100% {
    background-color: #FF7000;
  }
}
@-moz-keyframes blinkBlue {
  0% {
    background-color: #5d9cec;
  }
  50% {
    background-color: #2b7bff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #5d9cec 0 1px 0;
  }
  100% {
    background-color: #5d9cec;
  }
}
@-webkit-keyframes blinkBlue {
  0% {
    background-color: #5d9cec;
  }
  50% {
    background-color: #2b7bff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #5d9cec 0 1px 0;
  }
  100% {
    background-color: #5d9cec;
  }
}
@keyframes blinkBlue {
  0% {
    background-color: #5d9cec;
  }
  50% {
    background-color: #2b7bff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #5d9cec 0 1px 0;
  }
  100% {
    background-color: #5d9cec;
  }
}
@-moz-keyframes blinkGreen {
  0% {
    background-color: #80FF00;
  }
  50% {
    background-color: #6cff82;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #80FF00 0 1px 0;
  }
  100% {
    background-color: #80FF00;
  }
}
@-webkit-keyframes blinkGreen {
  0% {
    background-color: #80FF00;
  }
  50% {
    background-color: #6cff82;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #80FF00 0 1px 0;
  }
  100% {
    background-color: #80FF00;
  }
}
@keyframes blinkGreen {
  0% {
    background-color: #80FF00;
  }
  50% {
    background-color: #6cff82;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, #80FF00 0 1px 0;
  }
  100% {
    background-color: #80FF00;
  }
}
.led-gray-blink {
  -webkit-animation: blinkGray 0.7s infinite;
  -moz-animation: blinkGray 0.7s infinite;
  -ms-animation: blinkGray 0.7s infinite;
  -o-animation: blinkGray 0.7s infinite;
  animation: blinkGray 0.7s infinite;
}

.led-red-blink {
  -webkit-animation: blinkRed 0.7s infinite;
  -moz-animation: blinkRed 0.7s infinite;
  -ms-animation: blinkRed 0.7s infinite;
  -o-animation: blinkRed 0.7s infinite;
  animation: blinkRed 0.7s infinite;
}

.led-yellow-blink {
  -webkit-animation: blinkYellow 0.7s infinite;
  -moz-animation: blinkYellow 0.7s infinite;
  -ms-animation: blinkYellow 0.7s infinite;
  -o-animation: blinkYellow 0.7s infinite;
  animation: blinkYellow 0.7s infinite;
}

.led-orange-blink {
  -webkit-animation: blinkOrange 0.7s infinite;
  -moz-animation: blinkOrange 0.7s infinite;
  -ms-animation: blinkOrange 0.7s infinite;
  -o-animation: blinkOrange 0.7s infinite;
  animation: blinkOrange 0.7s infinite;
}

.led-blue-blink {
  -webkit-animation: blinkBlue 0.7s infinite;
  -moz-animation: blinkBlue 0.7s infinite;
  -ms-animation: blinkBlue 0.7s infinite;
  -o-animation: blinkBlue 0.7s infinite;
  animation: blinkBlue 0.7s infinite;
}

.led-green-blink {
  -webkit-animation: blinkGreen 0.7s infinite;
  -moz-animation: blinkGreen 0.7s infinite;
  -ms-animation: blinkGreen 0.7s infinite;
  -o-animation: blinkGreen 0.7s infinite;
  animation: blinkGreen 0.7s infinite;
}


/*
sass styles

@import "compass/css3";

@mixin blink($cl1,$cl2) {
  0% {
    background-color: $cl2;
  }
  50% {
    background-color: $cl1;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 6px 1px, inset #441313 0 -1px 8px, $cl2 0 1px 0;
  }
  100% {
    background-color: $cl2;
  }
}

@mixin blink_led($name) {
  $time: 0.7s;
  -webkit-animation: $name $time infinite;
  -moz-animation: $name $time infinite;
  -ms-animation: $name $time infinite;
  -o-animation: $name $time infinite;
  animation: $name $time infinite;
}

%led {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

%led-gray,
.led-gray {
  @extend %led;
  background-color: #aab2bd;
  box-shadow: #aab2bd 0 -1px 6px 1px, inset #656d78 0 -1px 8px, #656d78 0 1px 6px;
}

%led-red,
.led-red {
  @extend %led;
  background-color: #F00;
  box-shadow: #7D7B80 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}

%led-orange,
.led-orange {
  @extend %led;
  background-color: #FF7000;
  box-shadow: #7D7B80 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

%led-green,
.led-green {
  @extend %led;
  background-color: #80FF00;
  box-shadow: #7D7B80 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

%led-yellow,
.led-yellow {
  @extend %led;
  background-color: #FF0;
  box-shadow: #7D7B80 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

%led-blue,
.led-blue {
  @extend %led;
  background-color: #06F;
  box-shadow: #7D7B80 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}

@include keyframes('blinkGray') {
  @include blink(#CBD5E2, #aab2bd);
}

@include keyframes('blinkRed') {
  @include blink(#db212b, #db212b);
}

@include keyframes('blinkYellow') {
  @include blink(#AA0, #FF0);
}

@include keyframes('blinkOrange') {
  @include blink(#FFB061, #FF7000);
}

@include keyframes('blinkBlue') {
  @include blink(#2b7bff, #5d9cec);
}

@include keyframes('blinkGreen') {
  @include blink(#6cff82, #80FF00);
}

.led-gray-blink {
  @extend .led-gray;
  @include blink_led(blinkGray);
}

.led-red-blink {
  @extend .led-red;
  @include blink_led(blinkRed);
}

.led-yellow-blink {
  @extend .led-yellow;
  @include blink_led(blinkYellow);
}

.led-orange-blink {
  @extend .led-orange;
  @include blink_led(blinkOrange);
}

.led-blue-blink {
  @extend .led-blue;
  @include blink_led(blinkBlue);
}

.led-green-blink {
  @extend .led-green;
  @include blink_led(blinkGreen);
}
*/

.bg-console {
    background-color: rgba(0,0,0, 1);
    font-family: consolas;
    font-size: 0.8em;
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 0.5em;
    display: block;
}

.form-control-console {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--light);
    background-color: #343a40;
    background-clip: padding-box;
    border: transparent;
}

.bg-console .alert {
    background-color: transparent !important;
    border-color: transparent !important;
    color: gray;
    
    position: relative;
    padding: .3rem;
    margin-bottom: 0;
    border: transparent;
    border-radius: 0;
}

.bg-console .alert-danger strong {
    color: #6a1015;
}
.bg-console .alert-warning strong {
    color: #ff0;
}
.bg-console .alert-info strong {
    color: #5d9cec;
}
.bg-console .alert-success strong {
    color: #80bd42;
}
.bg-console .alert-default strong {
    color: #6c757d;
}
.bg-console .alert-primary strong {
    color: #e83e8c;
}
.bg-console .alert-secondary strong {
    color: #b5b6b6;
}